services:
  frontend:
    image: ${DOCKER_USER}/socialservices_frontend:dev-${FE_IMAGE_TAG}
    build: ./
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - BACKEND_HOST=backend
      - BACKEND_PORT=${BACKEND_PORT}

  backend:
    image: ${DOCKER_USER}/socialservice_backend:${BE_IMAGE_TAG}
    volumes:
      - './docker/backend:/app/conf:rw'
    ports:
      - '8080:8080'
