services:
  frontend:
    build:
      context: .
    volumes:
      - ./:/app:rw
#      - ./package.json:/app/package.json:rw
#      - ./docker/frontend/transfer:/app/transfer:rw
#      - /app/.next
    ports:
      - '3100:3000'
    environment:
      - NODE_ENV=development
      - BACKEND_HOST=backend
      - BACKEND_PORT=${BACKEND_PORT}

  backend:
    image: ${DOCKER_USER}/socialservice_backend:${BE_IMAGE_TAG}
    volumes:
      - './docker/backend/application-docker.yml:/app/conf/application-docker.yml'
      - './docker/backend/Beratungsstellen.tsv:/app/conf/Beratungsstellen.tsv'
    ports:
      - '8080:8080'
