services:
  frontend:
    build:
      context: .
    ports:
      - '3100:3000'
    environment:
      - BACKEND_HOST=backend
      - BACKEND_PORT=${BACKEND_PORT}

  backend:
    image: ${DOCKER_USER}/socialservice_backend:${BE_IMAGE_TAG}
    volumes:
      - './docker/backend/:/app/conf'
    ports:
      - '8080:8080'
