.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.categorytag {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.categorytag li {
    background-color: lightgreen;
    padding: 2px;
    border-block-style: solid;
    display: flex;
    border-radius: 5px;
    margin: 3px;
    font-size: small;
}